<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/categorias.css') }}">
    <title>Categorias</title>
</head>

<body>
    <div class="nav">
        <div class="derecha">
            <form action="/perfil">
                <button>Perfil</button>
            </form>
            <form action="/formulario/evento">
                <button>Crear Evento</button>
            </form>
        </div>
        <div class="izquierda">
            <p>{{ session['nombre'] }} {{ session['apellido'] }} {{ session['email'] }}</p>
            <form action="/procesa/logout" method="POST">
                <button>Cerrar Sesión</button>
            </form>
        </div>
    </div>
    <article>
        <div class="cuerpo">
            <div class="explorar-nombre-container">
                <h1 id="explorar-nombre">Explora <img id="lupa-imagen" src="/static/imagenes/lupaicon.png" alt=""></h1>
                <h2>Y elije la categoria del evento que quieres crear o unirte.</h2>
            </div>
            <div class="seccion-nombre-container">
                <div>
                    <h1 id="seccion-juegos-nombre">Sección Esports</h1>
                </div>
                <div class="seccion-nombre">
                    <img id="icono-deporte" src="/static/imagenes/deporteicon.png" alt="">
                </div>
            </div>
            <section class="container">
                <div class="secciones-container">
                    <div class="secciones-subcontainer">
                        <div class="categoria-juego">
                            <div class="imagen-juego-contenedor">
                                <a href="/eventos">
                                        <img src="/static/imagenes/futbol.png" alt="" class="futbol_img">
                                </a>
                            </div>
                            <h1>Futbol</h1>
                        </div>
                        <div class="categoria-juego">
                            <div class="imagen-juego-contenedor">
                                <a href="">
                                    <img src="/static/imagenes/basket.jpg" alt="" class="basket_img">
                                </a>
                            </div>
                            <h1>Basquetball</h1>
                        </div>
                        <div class="categoria-juego">
                            <div class="imagen-juego-contenedor">
                                <a href="">
                                    <img src="/static/imagenes/balonmano.jpg" alt="" class="imagen-deporte">
                                </a>
                            </div>
                            <h1>Handball</h1>
                        </div>
                        <div class="categoria-juego">
                            <div class="imagen-juego-contenedor">
                                <a href="">
                                    <img src="/static/imagenes/voleibol.png" alt="" class="voleibol_img">
                                </a>
                            </div>
                            <h1>Vóleibol</h1>
                        </div>
                    </div>
                    <div class="secciones-container">
                        <div class="secciones-subcontainer">
                            <div class="categoria-juego">
                                <div class="imagen-juego-contenedor">
                                    <a href="">
                                        <img src="/static/imagenes/tenis.jpg" alt="" class="tenis_img">
                                    </a>
                                </div>
                                <h1>Tenis</h1>
                            </div>
                            <div class="categoria-juego">
                                <div class="imagen-juego-contenedor">
                                    <a href="">
                                        <img src="/static/imagenes/tenismesa.jpg" alt="" class="imagen-deporte">
                                    </a>
                                </div>
                                <h1>Tenis de Mesa</h1>
                            </div>
                            <div class="categoria-juego">
                                <div class="imagen-juego-contenedor">
                                    <a href="">
                                        <img src="/static/imagenes/rugby.jpg" alt="" class="rugby_img">
                                    </a>
                                </div>
                                <h1>Rugby</h1>
                            </div>
                            <div class="categoria-juego">
                                <div class="imagen-juego-contenedor">
                                    <a href="">
                                        <img src="/static/imagenes/gym.jpg" alt="" class="imagen-deporte">
                                    </a>
                                </div>
                                <h1>Gym</h1>
                            </div>
                        </div>
                </div>
            </section>
            <div class="seccion-nombre-container">
                <div>
                    <h1 id="seccion-juegos-nombre">Sección Esports</h1>
                </div>
                <div class="seccion-nombre">
                    <img id="icono-juego" src="/static/imagenes/videojuegosicon.png" alt="">
                </div>
            </div>
            <div class="secciones-container">
                <div class="secciones-subcontainer">
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="">
                                <img src="/static/imagenes/fornite.jpg" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>Fortnite</h1>
                    </div>
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="">
                                <img src="/static/imagenes/valorant.png" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>Valorant</h1>
                    </div>
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="">
                                <img src="/static/imagenes/lol.jpg" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>League of Legends </h1>
                    </div>
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="">
                                <img src="/static/imagenes/gtav.jpg" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>Grand theft Auto V</h1>
                    </div>
                </div>
            </div>
            <div class="secciones-container">
                <div class="secciones-subcontainer">
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="">
                                <img src="/static/imagenes/cs2.png" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>Counter Strike 2</h1>
                    </div>
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="#">
                                <img src="/static/imagenes/minecraft.jpg" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>Minecraft</h1>
                    </div>
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="">
                                <img src="/static/imagenes/dota2.png" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>Dota 2</h1>
                    </div>
                    <div class="categoria-juego">
                        <div class="imagen-juego-contenedor">
                            <a href="">
                                <img src="/static/imagenes/wow.png" alt="" class="imagen-juego">
                            </a>
                        </div>
                        <h1>Word of Warcraft</h1>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <script src="/static/js/categorias.js"></script>
</body>

</html>