<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_evento.css') }}">
</head>

<body>
    <main class="box">
        <div class="row">
            <h2>Crear evento</h2>
            <div class="botones">
                <div>
                    <button class="btn primario">Mi perfil</button>
                </div>
                <div>
                    <button class="btn secundario">Logout</button>
                </div>
            </div>
        </div>
            <form action="/crear_evento" method="POST">
                <div class="contenido5">
                    <label for="tipo"> Tipo de evento:</label>
                    <select name="tipo" id="tipo" onchange="traerCategorias(event)">
                        <option hidden></option>
                        <option value="1"> Deportes </option>
                        <option value="2"> VideoJuegos </option>
                    </select>
                </div>
                <div class="contenido5">
                    <label for="categoria_id_categoria">Categoria:</label>
                    <select name="categoria_id_categoria" id="categoria_id_categoria">
                    </select>
                    {% for mensaje in get_flashed_messages(category_filter=['error_categoria']) %}
                    <div class="error_login alert alert-danger">
                        {{ mensaje }}
                    </div>
                    {% endfor %}
                </div>
                <div class="contenido1">
                    <label for="nombre_evento"> Nombre del evento: </label>
                    <input type="text" name="nombre_evento" id="nombre_evento">
                    {% for mensaje in get_flashed_messages(category_filter=['error_nombre_evento']) %}
                    <div class="error_login alert alert-danger">
                        {{ mensaje }}
                    </div>
                    {% endfor %}
                </div>
                <div class="contenido2">
                    <label for="participantes"> Participantes: </label>
                    <input type="number" name="participantes" id="participantes">
                    {% for mensaje in get_flashed_messages(category_filter=['error_participantes']) %}
                    <div class="error_login alert alert-danger">
                        {{ mensaje }}
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <div class="contenido3">
                        <label for="descripcion"> Descripción del evento: </label>
                    </div>
                    <div>
                        <textarea name="descripcion" id="descripcion"></textarea>
                    </div>
                    {% for mensaje in get_flashed_messages(category_filter=['error_descripcion']) %}
                    <div class="error_login alert alert-danger">
                        {{ mensaje }}
                    </div>
                    {% endfor %}
                </div>
                <div class="contenido2">
                    <label for="ubicacion"> Ubicación: </label>
                    <input type="text" name="ubicacion" id="ubicacion">
                    {% for mensaje in get_flashed_messages(category_filter=['error_ubicacion']) %}
                    <div class="error_login alert alert-danger">
                        {{ mensaje }}
                    </div>
                    {% endfor %}
                </div>
                <div class="contenido2">
                    <label for="fecha"> Fecha del evento: </label>
                    <input type="date" name="fecha" id="fecha">
                    {% for mensaje in get_flashed_messages(category_filter=['error_fecha']) %}
                    <div class="error_login alert alert-danger">
                        {{ mensaje }}
                    </div>
                    {% endfor %}
                </div>
                <div class="contenido2">
                    <label for="hora"> Hora del Evento</label>
                    <input type="datetime" name="hora" id="hora">
                    {% for mensaje in get_flashed_messages(category_filter=['error_hora']) %}
                    <div class="error_login alert alert-danger">
                        {{ mensaje }}
                    </div>
                    {% endfor %}
                </div>
                <div id="nuevo_evento">
                    <button id="crear"> Crear evento </button>
                </div>
            </form>
        </div>
    </main>
    <script src="{{url_for('static', filename = 'js/crearEvento.js')}}"></script>
</body>

</html>