<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crear evento </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_evento.css') }}">
</head>

<body>
    <main class="box">
        <div class="row">
            <h2> Crear evento </h2>
            <div class="botones">
                <div>
                    <button class="btn primario"> Mi perfil </button>
                </div>
                <div>
                    <button class="btn secundario"> Logout </button>
                </div>
            </div>
        </div>
        <div class="contenido_evento">
            <div class="contenido5">
                <label for="tipo"> Tipo de evento:</label>
                <select name="tipo" id="tipo">
                    <option> Deportes </option>
                    <option> VideoJuegos </option>
                </select>
            </div>
            <div class="contenido1">
                <label for="nombre_evento"> Nombre del evento: </label>
                <input type="text" name="nombre_evento" id="nombre_evento">
            </div>
            <div class="contenido2">
                <label for="participantes"> Participantes: </label>
                <input type="number" name="participantes" id="participantes">
            </div>
            <div class="contenido3">
                <label for="de  scripcion"> Descripción del evento: </label>
            </div>
            <div>
                <textarea name="descripcion" id="descripcion"></textarea>
            </div>
            <div class="contenido4">
                <label for="Ubicacion"> Ubicación: </label>
                <input type="text" name="Ubicacion" id="Ubicacion">
            </div>
            <div class="contenido5">
                <label for="fecha_evento"> Fecha del evento: </label>
                <input type="date" name="fecha_evento" id="fecha_evento">
            </div>
            <div class="contenido4">
                <label for="hora_evento"> Hora del Evento</label>
                <input type="text" name="hora_evento" id="hora_evento">
            </div>
            <div id="nuevo_evento">
                <button id="crear"> Crear evento </button>
            </div>
        </div>
    </main>
</body>

</html>