<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/eventos.css') }}">
        <title>Avisos</title>
    </head>
    <body>
        <section class="barra">
            <div class="barra-container">
                <ul>
                    <li><a href="#"><img src="/static/imagenes/flecha.png" alt=""></a></li>
                    <li><a href="#"><img src="/static/imagenes/home.png" alt=""></a></li>
                    <li><a href="#"><img src="/static/imagenes/perfil.png" alt=""></a></li>
                    <li><a href="#"><img src="/static/imagenes/hamburger.png" alt=""></a></li>
                </ul>
            </div>
        </section>
        <section class="titulo">
            <div>
                <h1>Encuentra tu Partida!</h1>
            </div>
        </section>
        <section class="crea-tu-anuncio">
            
                <div class="container-crea-anuncio">
                    <img id="img-profile" src="/static/imagenes/imgen.jpg" alt="">
                    <button id="btn-crea-anuncio" href="/crear_evento"> <a href="/crear_evento">Crea un Evento + </a></button>
                </div>
            
        </section>
        <section class="avisos">
            <div class="aviso-container">
                <div>
                    <h2>Titulo</h2>
                    <h3>Descripcion...</h3>
                    <h3>6/10</h3>
                </div>
                <div>
                    <img id="img-aviso" src="/static/imagenes/cristiano-ronaldo-festeja.jpg" alt="">
                </div>
                <div class="btn-container">
                    <a href="/mas/info"><button id="btn-unirse">+</button></a>
                </div>
            </div><div class="aviso-container">
                <div>
                    <h2>Titulo</h2>
                    <h3>Descripcion...</h3>
                    <h3>6/10</h3>
                </div>
                <div>
                    <img id="img-aviso" src="/static/imagenes/cristiano-ronaldo-festeja.jpg" alt="">
                </div>
                <div class="btn-container">
                    <button id="btn-unirse">+</button>
                </div>
            </div><div class="aviso-container">
                <div>
                    <h2>Titulo</h2>
                    <h3>Descripcion...</h3>
                    <h3>6/10</h3>
                </div>
                <div>
                    <img id="img-aviso" src="/static/imagenes/cristiano-ronaldo-festeja.jpg" alt="">
                </div>
                <div class="btn-container">
                    <button id="btn-unirse">+</button>
                </div>
            </div><div class="aviso-container">
                <div>
                    <h2>Titulo</h2>
                    <h3>Descripcion...</h3>
                    <h3>6/10</h3>
                </div>
                <div>
                    <img id="img-aviso" src="/static/imagenes/cristiano-ronaldo-festeja.jpg" alt="">
                </div>
                <div class="btn-container">
                    <button id="btn-unirse">+</button>
                </div>
            </div>
        </section>
    </body>
</html>