<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/eventos.css') }}">
        <title>Avisos</title>
    </head>
    <body>
        <div class="nav">
            <div class="derecha">
                {% for evento in lista_eventos: %}
                <form action="/perfil/{{ evento.usuario.id_usuario }}">
                    <button>Perfil</button>
                </form>
                {% endfor %}
                <form action="/categorias"> 
                    <button>Categorias</button>
                </form>
            </div>
            <div class="izquierda">
                <p>{{ session['nombre'] }} {{ session['apellido'] }} {{ session['email'] }}</p>
                <form action="/procesa/logout" method="POST">
                    <button>Cerrar Sesión</button>
                </form>
            </div>
        </div>
        <section class="titulo">
            <div>
                <h1 id="saladeeventos">Sala de Eventos! <img id="eventoicono" src="/static/imagenes/eventoicono.png" alt=""></h1>
                <h2>Aqui podras crear tu evento o unirte a uno!</h2>
                <h2>Rapido! Ellos te esperan!</h2>
            </div>
        </section>
        <div class="barra-color"></div>
        <section class="crea-tu-anuncio">
            
                <div class="container-crea-anuncio">
                    <img id="img-profile" src="/static/imagenes/imgen.jpg" alt="">
                    <form action="/formulario/evento">
                        <button id="btn-crea-anuncio" > Crea un Evento +</button>
                    </form>
                </div>
            
        </section>
        <section class="avisos">
            {% for evento in lista_eventos: %}
            </div><div class="aviso-container">
                <div class="usuario-titulo">
                    <img id="img-profile-pequeña" src="/static/imagenes/imgen.jpg" alt="">
                    <h3>Organizador :{{ evento.usuario.nombre_usuario }} {{ evento.usuario.apellido }}</h3>
                    <div class="circulo"></div>
                    <h3>{{ evento.nombre_evento }}</h3>
                </div>
                <div class="info-foto">
                    <div>
                        <p>Participantes :{{ evento.participantes }}</p>
                        <p>Ubicacion : {{ evento.ubicacion }}</p>
                        <p>FECHA : {{ evento.formato_fecha() }}</p>
                        <p>HORA : {{ evento.hora }}</p>
                        <p>Descripcion del evento : {{ evento.descripcion }}</p>
                    </div>
                    <div class="btn-container">
                        <button id="btn-unirse">+</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </body>
</html>