<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mas_info.css') }}">
        <title>Document</title>
    </head>
    <body>
        <section class="barra">

        </section>
        <section class="contenido">
            <div class="contenido-container">
                <div>
                    <h2>Titulo</h2>
                    <p>Cancha mas que un gol - 5v5 - 18:00PM</p>
                    <p>Descripcion generica de cualquier tipo de evento a realizarse en cualquier lugar del mundo.</p>
                </div>
                <div class="equipos">
                    <div class="equipo-1">
                        <h3>Equipo 1</h3>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                    </div>
                    <div class="equipo-2">
                        <h3>Equipo 2</h3>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                        <div class="participante">
                            <h4>Chris</h4>
                            <img src="/static/imagenes/nofoto.jpg" alt="">
                        </div>
                        <div class="participante">
                            <h4>Vacio</h4>
                            <button>Unirse</button>
                        </div>
                        <div class="participante">
                            <h4>Vacio</h4>
                            <button>Unirse</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>