<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Falta uno</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/presentacion.css') }}">
    </head>
    <body>
        <main class="contenedor">
            <div class="barra">
                <div class="titulo">
                    <h1>Falta uno!</h1>
                </div>
                <div class="boton">
                    <a href="/inicio/sesion"><button> Iniciar sesión </button></a>
                </div>
            </div>
            <div class="subcontenedor">
                <div class="subtitulo">
                    <p>Bienvenido a Falta uno</p>
                </div>
                <div class="descripcion">
                    <p> Conectamos a amantes de los videojuegos y del deporte en un espacio seguro. Únete para disfrutar y conectarte con otros mientras te diviertes con tranquilidad. </p>
                </div>
                <div class="union">
                    <p>¡Únete ahora para formar parte de nuestra comunidad!</p>
                </div>
            </div>
        </main>
    </body>
</html>