@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* barra de navegacion */
body{
    background-color: #f9f9f9;
}
.nav {
    display:               flex;
    justify-content: center;
    align-items: center;
    height:               60px;
    gap: 600px;
    background-color: white;
    box-shadow: 0 0.1rem 0.4rem rgb(155, 155, 155)
}
.derecha{
    display:flex;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    color: black;

}
.izquierda {
    display:flex;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    color: black;
    
}




/* navegacion cuerpo de pagina */
article{
    display:           flex;
    flex-direction:  column;
    justify-content: center;
}
.cuerpo{
    display:          flex;
    flex-direction: column;
    align-items:    center;
    margin-top:      10px ;
    
}
.secciones{
    width:                   800px;
    display:                  flex;
    justify-content: space-between;
    border:      1px solid black;
    margin-bottom:             5px;
    padding:                   5px;
}
.seccion_deportes{
    width:                   800px;
    height:                  400px;
    display:                  flex;
    flex-direction:         column;
    border:      1px solid black;
    margin-bottom:             5px;
    padding:                   5px;
    
}

/*categoria juegos*/
.secciones-container{
    margin-bottom: 30px;
}
.seccion-nombre-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1060px;
    margin-bottom: 20px;
}
.seccion-nombre{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    width: 1020px;
    height: 30px;
    margin-bottom:             5px;
    padding:                   5px;
    border-radius: 10px;
    padding-left: 20px;
    border-style: none;
    margin-bottom: 20px;
    background: linear-gradient(334deg, #f4e4b3, rgb(233, 190, 250),#3586ff);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}


@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.secciones-subcontainer{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

}
.secciones-subcontainer{
    margin-bottom: 30px;
}
.imagen-juego{
    height: 300px;
    transition: all .2s ease-in-out;
}

.imagen-juego:hover {
    transform: scale(1.04) ;
    transform-origin: center center;
    box-shadow: 0 0.1rem 0.4rem rgb(233, 190, 250);
}
#seccion-juegos-nombre{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.categoria-juego{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categoria-juego h1{
    font-size: 20px;
}
.imagen-deporte{
    height: 300px;
    width: 225px;
    transition: all .2s ease-in-out;
    object-fit: cover;
}
.voleibol_img{
    height:                   300px;
    width:                    225px;
    transition: all .2s ease-in-out;
    object-fit:               cover;
    object-position: right;
}

.basket_img{
    height:                   300px;
    width:                    225px;
    transition: all .2s ease-in-out;
    object-fit:               cover;
    object-position:20%;
}

.futbol_img{
    height:                   300px;
    width:                    225px;
    transition: all .2s ease-in-out;
    object-fit:               cover;
    object-position:60%;
}
.tenis_img{
    height:                   300px;
    width:                    225px;
    transition: all .2s ease-in-out;
    object-fit:               cover;
    object-position:60%;
}
.rugby_img{
    height:                   300px;
    width:                    225px;
    transition: all .2s ease-in-out;
    object-fit:               cover;
    object-position:70%;
}

.imagen-deporte:hover {
    transform: scale(1.04) ;
    transform-origin: center center;
    box-shadow: 0 0.1rem 0.4rem rgb(233, 190, 250);
    
}
#explorar-nombre{
    font-size: 50px;
    font-weight: bolder;
    color: black;
}
.explorar-nombre-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 1060px;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 10px;
}
button {
    margin-right: 20px;
    padding: 9px;
    background-color: white;
    height: 50px;
    width: 130px;
    color: black;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border:gainsboro 1px solid;
}
#icono-deporte{
    height: 100px;
    transform: rotate(-10deg);
    margin-right: 80px;
}
#icono-juego{
    height: 120px;
    transform: rotate(-20deg);
    margin-right: 80px;
}
#lupa-imagen{
    height: 50px;
}
.container{
    margin-bottom: 100px;
}