@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(334deg, #f4e4b3, rgb(233, 190, 250),#3586ff);
	background-size: 180% 180%;
	animation: gradient-animation 20s ease infinite;
    overflow: hidden;
}
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}
body .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
body .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
body .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
body .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes wave{
    0%{
    background-position-x: 0px; 
    }
    100%{
    background-position-x: 1000px; 
    }
}
@keyframes wave2{
    0%{
    background-position-x: 0px; 
    }
    100%{
    background-position-x: -1000px; 
    }
}



h1{
    font-size: 50px;
}
a{
    text-decoration: none;
}
.container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    margin-right: 20px;
    padding: 9px;
    background-color: white;
    height: 50px;
    width: 180px;
    color: black;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    border:gainsboro 1px solid;
}
.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 20px;
    width: 300px;
    border-radius: 40px;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    background-color: white;
    animation:scale-up-center 0.4s; 
}
@keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.button-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
