* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family:serif;
}

.barra {
    background-color: rgb(41, 40, 40);
    color: rgba(223, 223, 223, 0.795);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 20px;
}

button {
    margin-right: 20px;
    padding: 9px;
    background-color: rgba(160, 19, 19, 0.767);
    color: rgba(223, 223, 223, 0.795);
    border-radius: 7px;
    font-family: serif;
    font-size: 14px;
    font-weight: bold;
}

.contenedor {
    display: flex;
    flex-direction: column;
}
.subcontenedor {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.subtitulo, .descripcion, .union {
    color: rgba(223, 223, 223, 0.795);
    font-family: serif;
}
.subtitulo {
    font-size: 60px;
}

.descripcion, .union {
    font-size: 18px;
    width: 400px;
    text-align: center;
    line-height: 28px;
}

.union {
    font-weight: bold;
}



