*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container{
    border: 2px solid purple ;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registro{
    border: 2px solid aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.boton{
    height: 50px;
    width: 200px;
}